.boxone { /* Box 1 positioned in its own position with its own colour and border */
box-sizing: border-box;
background-color: aquamarine;
width: 100px;
height: 100px;
border:25px solid aqua;
bottom: 0;
right: 40px;
position: fixed;
}

.boxtwo { /* Box 2 positioned in its own position with its own colour and border */
box-sizing: border-box;
background-color: red;
width: 100px;
height: 100px;
border:15px solid maroon;
top: 0%;
right: 0%;
position: fixed;
}

.boxthree { /* Box 1 positioned in its own position with its own colour and border */
box-sizing: border-box;
background-color: purple;
width: 100px;
height: 100px;
border:10px solid slateblue;
top: 25px;
right: 30px;
position: fixed;
}